@(neologismForm: Form[NeologismSubmission], neologisms: Seq[NeologismSubmission], selectedEntry: Option[NeologismSubmission], errorText : Option[String])(implicit request: MessagesRequestHeader)

@import helper._


@main("The Neolog") {
<div class="wrapper">

  <div class="submissions">
    <h2>The Neolog:</h2>

    @form(routes.Application.insertNeologism) {
    @inputText(neologismForm("quotation"))
    @inputText(neologismForm("attribution"))
    @inputText(neologismForm("explanation"))

    @CSRF.formField

    <input type="submit"/>
    }

    @for(error <- errorText) {
      <p><font color="red"><blink>Submission Error: @error</blink></font></p>
    }

    @for(entry <- selectedEntry) {
    <h3>Neologism "@entry.quotation" already submitted by @entry.attribution on @entry.timestamp</h3>
    <table class="entries">
      <tr><td>@entry.quotation</td><td>@entry.attribution</td><td>@entry.timestamp</td></tr>
    </table>
    }

    <h2>Previously attributed neologisms:</h2>
    <table class="entries">
      <tr><th>Quotation</th><th>Attribution</th><th>Explanation</th><th>Timestamp</th><th>Tonitrus</th></tr>
      @for(c <- neologisms){
      <tr><td>@c.quotation</td><td>@c.attribution</td><td>@c.explanation</td><td>@c.timestamp</td><td>@Markov.SuperTonitrus(c.quotation)</td></tr>
      }
    </table>
  </div>

</div>
}
